body {
  background-color: black;
  margin-left: 60px;
  margin-right: 60px;
}
h1 {
  color: #d5d2d2;
  font-size: 70px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Crimson Pro", serif;
  text-decoration: underline rgb(70, 33, 33);
}

h4 {
  border: 1px solid rgb(70, 33, 33);
  max-width: fit-content;
  padding: 10px;
  border-radius: 7px;
}
h1,
h2,
h3,
.qoutes {
  text-align: center;
}

h1,
h2,
h4 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display SC", serif;
}

h3,
p {
  color: #858585;
}

.about-section {
  font-size: 25px;
  margin-left: -10px;
  margin-top: 20px;
  background: rgba(252, 252, 252, 0.091);
  padding: 40px;
  border-radius: 10px 70px;
}

#main-image,
.qoute {
  border-radius: 10px;
}
img {
  margin-left: 10px;
}
.qoutes {
  color: #a19f9f;
  width: 60%;
}
.qoute-topic {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.qoute {
  font-size: 18px;
  width: fit-content;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: rgb(204, 201, 201);
  padding: 14px;
}
.centered,
.qoute,
.qoutes,
#main-image {
  display: block;
  margin: 0 auto;
}
