body {
  background-color: black;
  margin-left: 90px;
  margin-right: 90px;
}
#date {
  text-align: right;
  font-size: 14px;
  color: white;
}
h1 {
  color: #d5d2d2;
  font-size: 70px;
  margin-bottom: 0px;
}

h3 {
  font-family: "Crimson Pro", serif;
  text-decoration: underline rgb(70, 33, 33);
}

h4 {
  border: 1px solid rgb(70, 33, 33);
  max-width: fit-content;
  padding: 10px;
  border-radius: 7px;
}
h1,
h2,
h3,
.qoutes,
footer {
  text-align: center;
}

h1,
h2,
h4 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Playfair Display SC", serif;
}

h3,
p {
  color: #858585;
}

.about-section {
  font-size: 18px;
  width: 80%;
  background: white;
  color: black;
  padding: 40px;
  border-radius: 10px 70px;
}

#main-image,
#qoute-image,
.qoute {
  border-radius: 10px;
}
img {
  margin-left: 10px;
}
.qoutes {
  color: #a19f9f;
  width: 60%;
}
.qoute-topic {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.qoute {
  font-size: 18px;
  width: fit-content;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: rgb(204, 201, 201);
  padding: 14px;
}
ul {
  font-size: 20px;
  margin-top: 20px;
  color: white;
  list-style-image: url("images/icons8-book-32.png");
}
#qoute-image {
  display: block;
  margin: 70px auto;
}
.centered,
.about-section,
h4,
.qoute,
.qoutes,
#main-image {
  display: block;
  margin: 0 auto;
}
a {
  color: #eee;
}
.container {
  max-width: 100% !important;
}
@media (max-width: 700px) {
  * {
    margin: 0 !important;
  }
  .container {
    margin: 0 !important;
  }
  h1 {
    font-size: 30px;
  }
  h2,
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 1px;
  }
  p {
    font-size: 8px !important;
    padding: 10px !important;
    width: 100% !important;
  }
}
